body {
    counter-reset: delay;
}

.zuErledigen {
    background-color: rgba(255, 0, 0, 0.25);
}
.erledigt {
    background-color: rgba(255, 167, 0, 0.25);
}
.erledigt.dringend {
    animation: impe 2s infinite;
}
.datum, .fach, .aufgaben {
    font-family: monospace;
    font-size: 20px;
}
.fach {
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.aufgaben {
    width: 500px;
    padding: 5px;
}
.datum {
    width: 120px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}
.fertig {
    background-color: rgba(0, 57, 163, 0.5);
}

td {
    border-radius: 10px;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    border: 2px solid black;
}

th {
    font-size: 30px;
    color: #f47316;
}

tr {
    transform: translateX(-100%);
    animation: flyin 1s forwards;
}

h1 {
    color: aqua;
}

.imageDisplay {
    transition: height 0.5s ease;
    transition: opacity 0.25s ease;
}

.imageDisplay img {
    margin: auto;
    display: block;
    max-width: 720px;
}

.imageDisplay.shown {
    opacity: 1;
    height: auto;
    display: table-row;
}

.imageDisplay:not(.shown) {
    opacity: 0;
    height: 0;
    display: none;
}


@keyframes imp {
    0% {
        background-color: rgba(255, 0, 0, 0.25);
    }
    50% {
        background-color: rgba(255, 157, 0, 0.75);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.25);
    }
}

@keyframes impe {
    0% {
        background-color: rgba(255, 167, 0, 0.25);
    }
    50% {
        background-color: rgba(255, 157, 0, 0.75);
    }
    100% {
        background-color: rgba(255, 167, 0, 0.25);
    }
}
@keyframes flyin {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.dringend:not(.erledigt) {
    background-color: rgba(255, 0, 0, 0.25);
    animation: imp 2s infinite;
}

.dringend:nth-child(1) { animation-delay: .25s !important}
.dringend:nth-child(2) { animation-delay: .5s !important}
.dringend:nth-child(3) { animation-delay: .75s !important}
.dringend:nth-child(4) { animation-delay: 1s !important}
.dringend:nth-child(5) { animation-delay: 1.25s !important}
.dringend:nth-child(6) { animation-delay: 1.5s !important}
.dringend:nth-child(7) { animation-delay: 1.75s !important}
.dringend:nth-child(8) { animation-delay: 2s !important}

#uhr { margin-top: 10px; position:relative; float: right; font-family:monospace; font-size:34px; color:#00ffff; text-shadow: 0 0 5px #a6ffff; background-color: #5914dc; padding: 10px; border-radius: 10px}

#add { position:fixed; bottom:10px; right:500px; font-family:monospace; font-size:34px; color:#ff4500; text-shadow: 0 0 5px #a6ffff; background-color: #14dc87; padding: 10px; border-radius: 10px; border: 10px inline black; transition: 0.2s linear; cursor: pointer}

#add:hover {
    background-color: chartreuse;
}

#content {
    margin-bottom: 100px;
}
fieldset {
    display: none;
    float:right;
    right: 0;
    position:absolute;
    width: 110px; /* or whatever you want */
}

@media handheld {
    #uhr {
        display: none;
    }
    
    td {
        word-break: break-all;
    }
	
	.legend {
		display: none;
	}
}