td {
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}

th {
    background-color: red;
    font-size: 30px;
}

td * {
    display: block;
    text-decoration: none;
    color: greenyellow;
    padding: 20px;
}

#part-1, #part-2, #part-3, #part-4 {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px dashed orangered;
    padding: 12.5%;
    position: absolute;
}

#part-1 {
    left: 0px;
    top: 0px;
}

#part-2 {
    right: 0px;
    top: 0px;
}

#part-3 {
    left: 0px;
    bottom: 0px;
}

#part-4 {
    right: 0px;
    bottom: 0px;
}