.content {
    display: block;
}

.content * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 5px;
}

th {
    font-size: 120%;
}

.button_back {
    position: absolute;
    top: 0;
    left: 0;
}