@charset "utf-8";

@media screen{
li {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: medium groove rgba(255,255,255,1.00);
	margin: 5px;
	border-radius: 5px;
	display: block;
	background-color: rgba(42,42,42,0.80);
}
ul {
	list-style-type: none;
}
}

@media handheld{
}
