.donation_button {
    right: 0;
    bottom: 0;
    position: fixed;
    width: 85px;
}

body {
    background-image: url("/img/bgtile.png");
}

html, body {
	margin: 0;
	padding: 0;
}

.background {
	position:  absolute;
	display:  block;
	top: 0;
	left: 0;
	z-index: -999999;
}

.dropdown-item, .nav-link {
    transition: all linear .2s;
}
.dropdown-item:hover:not(.disabled), .nav-link:hover:not(.disabled) {
  -moz-animation: noise 0.3s infinite;
  -webkit-animation: noise 0.3s infinite;
  animation: noise 0.3s infinite;
}
.dropdown-item.disabled, .nav-link.disabled {
    cursor: default;
}

@-moz-keyframes glitch {
    0% {
      -moz-transform: skew(6deg);
      transform: skew(6deg);
    }
    5% {
      -moz-transform: skew(45deg);
      transform: skew(45deg);
    }
    10% {
      -moz-transform: skew(6deg);
      transform: skew(6deg);
    }
    15% {
      -moz-transform: skew(-1deg);
      transform: skew(-1deg);
    }
    20% {
      -moz-transform: skew(48deg);
      transform: skew(48deg);
    }
    25% {
      -moz-transform: skew(-55deg);
      transform: skew(-55deg);
    }
    30% {
      -moz-transform: skew(56deg);
      transform: skew(56deg);
    }
    35% {
      -moz-transform: skew(-70deg);
      transform: skew(-70deg);
    }
    40% {
      -moz-transform: skew(22deg);
      transform: skew(22deg);
    }
    45% {
      -moz-transform: skew(-65deg);
      transform: skew(-65deg);
    }
    50% {
      -moz-transform: skew(-86deg);
      transform: skew(-86deg);
    }
    55% {
      -moz-transform: skew(9deg);
      transform: skew(9deg);
    }
    60% {
      -moz-transform: skew(-83deg);
      transform: skew(-83deg);
    }
    65% {
      -moz-transform: skew(-31deg);
      transform: skew(-31deg);
    }
    70% {
      -moz-transform: skew(-53deg);
      transform: skew(-53deg);
    }
    75% {
      -moz-transform: skew(19deg);
      transform: skew(19deg);
    }
    80% {
      -moz-transform: skew(-5deg);
      transform: skew(-5deg);
    }
    85% {
      -moz-transform: skew(46deg);
      transform: skew(46deg);
    }
    90% {
      -moz-transform: skew(-1deg);
      transform: skew(-1deg);
    }
    95% {
      -moz-transform: skew(32deg);
      transform: skew(32deg);
    }
  }
  @-webkit-keyframes glitch {
    0% {
      -webkit-transform: skew(75deg);
      transform: skew(75deg);
    }
    5% {
      -webkit-transform: skew(-38deg);
      transform: skew(-38deg);
    }
    10% {
      -webkit-transform: skew(77deg);
      transform: skew(77deg);
    }
    15% {
      -webkit-transform: skew(-29deg);
      transform: skew(-29deg);
    }
    20% {
      -webkit-transform: skew(28deg);
      transform: skew(28deg);
    }
    25% {
      -webkit-transform: skew(27deg);
      transform: skew(27deg);
    }
    30% {
      -webkit-transform: skew(32deg);
      transform: skew(32deg);
    }
    35% {
      -webkit-transform: skew(-89deg);
      transform: skew(-89deg);
    }
    40% {
      -webkit-transform: skew(-49deg);
      transform: skew(-49deg);
    }
    45% {
      -webkit-transform: skew(-25deg);
      transform: skew(-25deg);
    }
    50% {
      -webkit-transform: skew(-31deg);
      transform: skew(-31deg);
    }
    55% {
      -webkit-transform: skew(76deg);
      transform: skew(76deg);
    }
    60% {
      -webkit-transform: skew(6deg);
      transform: skew(6deg);
    }
    65% {
      -webkit-transform: skew(-70deg);
      transform: skew(-70deg);
    }
    70% {
      -webkit-transform: skew(86deg);
      transform: skew(86deg);
    }
    75% {
      -webkit-transform: skew(-57deg);
      transform: skew(-57deg);
    }
    80% {
      -webkit-transform: skew(-15deg);
      transform: skew(-15deg);
    }
    85% {
      -webkit-transform: skew(7deg);
      transform: skew(7deg);
    }
    90% {
      -webkit-transform: skew(42deg);
      transform: skew(42deg);
    }
    95% {
      -webkit-transform: skew(54deg);
      transform: skew(54deg);
    }
  }
  @keyframes glitch {
    0% {
      -moz-transform: skew(48deg);
      -ms-transform: skew(48deg);
      -webkit-transform: skew(48deg);
      transform: skew(48deg);
    }
    5% {
      -moz-transform: skew(-28deg);
      -ms-transform: skew(-28deg);
      -webkit-transform: skew(-28deg);
      transform: skew(-28deg);
    }
    10% {
      -moz-transform: skew(23deg);
      -ms-transform: skew(23deg);
      -webkit-transform: skew(23deg);
      transform: skew(23deg);
    }
    15% {
      -moz-transform: skew(24deg);
      -ms-transform: skew(24deg);
      -webkit-transform: skew(24deg);
      transform: skew(24deg);
    }
    20% {
      -moz-transform: skew(-1deg);
      -ms-transform: skew(-1deg);
      -webkit-transform: skew(-1deg);
      transform: skew(-1deg);
    }
    25% {
      -moz-transform: skew(61deg);
      -ms-transform: skew(61deg);
      -webkit-transform: skew(61deg);
      transform: skew(61deg);
    }
    30% {
      -moz-transform: skew(-50deg);
      -ms-transform: skew(-50deg);
      -webkit-transform: skew(-50deg);
      transform: skew(-50deg);
    }
    35% {
      -moz-transform: skew(16deg);
      -ms-transform: skew(16deg);
      -webkit-transform: skew(16deg);
      transform: skew(16deg);
    }
    40% {
      -moz-transform: skew(38deg);
      -ms-transform: skew(38deg);
      -webkit-transform: skew(38deg);
      transform: skew(38deg);
    }
    45% {
      -moz-transform: skew(4deg);
      -ms-transform: skew(4deg);
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    50% {
      -moz-transform: skew(-58deg);
      -ms-transform: skew(-58deg);
      -webkit-transform: skew(-58deg);
      transform: skew(-58deg);
    }
    55% {
      -moz-transform: skew(86deg);
      -ms-transform: skew(86deg);
      -webkit-transform: skew(86deg);
      transform: skew(86deg);
    }
    60% {
      -moz-transform: skew(0deg);
      -ms-transform: skew(0deg);
      -webkit-transform: skew(0deg);
      transform: skew(0deg);
    }
    65% {
      -moz-transform: skew(67deg);
      -ms-transform: skew(67deg);
      -webkit-transform: skew(67deg);
      transform: skew(67deg);
    }
    70% {
      -moz-transform: skew(-21deg);
      -ms-transform: skew(-21deg);
      -webkit-transform: skew(-21deg);
      transform: skew(-21deg);
    }
    75% {
      -moz-transform: skew(32deg);
      -ms-transform: skew(32deg);
      -webkit-transform: skew(32deg);
      transform: skew(32deg);
    }
    80% {
      -moz-transform: skew(6deg);
      -ms-transform: skew(6deg);
      -webkit-transform: skew(6deg);
      transform: skew(6deg);
    }
    85% {
      -moz-transform: skew(86deg);
      -ms-transform: skew(86deg);
      -webkit-transform: skew(86deg);
      transform: skew(86deg);
    }
    90% {
      -moz-transform: skew(55deg);
      -ms-transform: skew(55deg);
      -webkit-transform: skew(55deg);
      transform: skew(55deg);
    }
    95% {
      -moz-transform: skew(-49deg);
      -ms-transform: skew(-49deg);
      -webkit-transform: skew(-49deg);
      transform: skew(-49deg);
    }
  }
  @-moz-keyframes noise {
    0% {
      background-position: -55px 24px;
    }
    10% {
      background-position: -59px 20px;
    }
    20% {
      background-position: -36px -74px;
    }
    30% {
      background-position: 92px 4px;
    }
    40% {
      background-position: 38px 10px;
    }
    50% {
      background-position: -97px -29px;
    }
    60% {
      background-position: -49px 80px;
    }
    70% {
      background-position: -16px -85px;
    }
    80% {
      background-position: -90px 76px;
    }
    90% {
      background-position: -97px -53px;
    }
  }
  @-webkit-keyframes noise {
    0% {
      background-position: -30px 81px;
    }
    10% {
      background-position: 89px -11px;
    }
    20% {
      background-position: 61px 61px;
    }
    30% {
      background-position: 16px 25px;
    }
    40% {
      background-position: 57px 42px;
    }
    50% {
      background-position: -89px -63px;
    }
    60% {
      background-position: -68px -45px;
    }
    70% {
      background-position: 76px -35px;
    }
    80% {
      background-position: 64px 89px;
    }
    90% {
      background-position: 73px -85px;
    }
  }
  @keyframes noise {
    0% {
      background-position: -40px 66px;
    }
    10% {
      background-position: 7px 65px;
    }
    20% {
      background-position: 23px -2px;
    }
    30% {
      background-position: -75px 53px;
    }
    40% {
      background-position: 62px -21px;
    }
    50% {
      background-position: 3px -32px;
    }
    60% {
      background-position: -61px -85px;
    }
    70% {
      background-position: 37px -14px;
    }
    80% {
      background-position: 83px -70px;
    }
    90% {
      background-position: -67px 19px;
    }
  }
  @-moz-keyframes bar {
    0% {
      opacity: 0.06;
    }
    10% {
      opacity: 0.64;
    }
    20% {
      opacity: 0.21;
    }
    30% {
      opacity: 0.37;
    }
    40% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.38;
    }
    60% {
      opacity: 0.65;
    }
    70% {
      opacity: 0.8;
    }
    80% {
      opacity: 0.77;
    }
    90% {
      opacity: 0.4;
    }
  }
  @-webkit-keyframes bar {
    0% {
      opacity: 0.25;
    }
    10% {
      opacity: 0.48;
    }
    20% {
      opacity: 0.64;
    }
    30% {
      opacity: 0.04;
    }
    40% {
      opacity: 0.55;
    }
    50% {
      opacity: 0.55;
    }
    60% {
      opacity: 0.78;
    }
    70% {
      opacity: 0.65;
    }
    80% {
      opacity: 0.71;
    }
    90% {
      opacity: 0.31;
    }
  }
  @keyframes bar {
    0% {
      opacity: 0.27;
    }
    10% {
      opacity: 0.74;
    }
    20% {
      opacity: 0.29;
    }
    30% {
      opacity: 0.29;
    }
    40% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.79;
    }
    60% {
      opacity: 0.26;
    }
    70% {
      opacity: 0.75;
    }
    80% {
      opacity: 0.61;
    }
    90% {
      opacity: 0.76;
    }
  }
  .glitch {
    color: #fff;
    text-transform: uppercase;
    font: 15px "Michroma", helvetica, sans-serif;
    letter-spacing: 0.6em;
    text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
    -moz-animation: noise 0.3s infinite;
    -webkit-animation: noise 0.3s infinite;
    animation: noise 0.3s infinite;
  }
  .glitch:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .glitch:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    -moz-animation: bar 0.5s infinite;
    -webkit-animation: bar 0.5s infinite;
    animation: bar 0.5s infinite;
  }
  .glitch span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -moz-animation: glitch 3s infinite alternate;
    -webkit-animation: glitch 3s infinite alternate;
    animation: glitch 3s infinite alternate;
  }
  