.donation_button {
    right: 0;
    bottom: 0;
    position: fixed;
    width: 85px;
}

body {
    background-image: url("/img/bgtile.png");
}

.mega, .bola {
    line-height: 1.65em;
    font-weight: bold;
    font-size: 11em;
    color: transparent;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
    margin-left: -5px;
    margin-top: -40px;
}
   
  .boom {color: #f5f5f5; }