/*
Alle Rechte dieser Website liegen bei Sven Nolting.
Medien können unter Umständen von anderen Seiten sein.
Die Nutzung dieser Website und ihrer Scripte sind !NACH ANFRAGE! erlaubt oder halt nicht.
*/
/* 
    Created on : 22.05.2017, 20:07:04
    Author     : Sven Nolting
*/


/* Animationen */

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/*/////////////////////////////////*/

p, li, h1,h2,h3,h4,h5,h6,a, code {font-size: 130%}

li:before {
    content: "⇒ ";
}

.page_2 li {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.page_2 li:nth-child(1) {
    animation-delay: .5s;
}
.page_2 li:nth-child(2) {
    animation-delay: 1s;
}
.page_2 li:nth-child(3) {
    animation-delay: 1.5s;
}
.page_2 li:nth-child(4) {
    animation-delay: 2s;
}
.page_2 li:nth-child(5) {
    animation-delay: 2.5s;
}